.form {
  display: flex;
  flex-direction: column;

  .input {
    margin-bottom: 25px;
    height: 60px;
    width: 460px;
    background: #f2f2f2;
    border-radius: 30px;
    border: none;
  }

  .textarea {
    padding-top: 10px;
    padding-left: 20px;
    height: 102px;
    width: 460px;
    background: #f2f2f2;
    border-radius: 30px;
    border: none;
  }

  .form-btn {
    margin-top: 30px;
    width: 255.42px;
    height: 60px;
    background: #f75959;
    border-radius: 30px;
    border: none;
    font-family: "Mada", sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    cursor: pointer;

    &:hover {
        background-color: #000;
        transition: .5s ease;
    }
  }
}

input[type="text"] {
  padding-left: 20px;
}

input[type="email"] {
  padding-left: 20px;
}
