.title {
    font-size: 40px;
    color: #f75959;
    font-weight: 900;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    display: block;
    margin-bottom: 40px;
}

.benefits-grid {
    display: grid;
    grid-template-columns: auto auto; 
    gap: 40px;
    justify-content: center;  
}