.our-works-popup {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: -1;
    transition: opacity .5s;
}

.our-works-popup.active {
    opacity: 1;
    z-index: 2;
}

.our-works-popup__content {
    padding: 20px;
    border-radius: 12px;
    background-color: #dfdfdf;
    // z-index: 1;
    height: 80vh;
    width: 80vw;
    -webkit-box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.3);
    transform: scale(0);
    transition: .5s;
}

.our-works-popup__content.active {
    transform: scale(1);
}

.popup__info {
    // display: flex;
    padding: 10px;

    .popup__title {
        font-size: 32px;
        font-family: 'rubik';
        margin-bottom: 20px;
    }

    .popup__descr {
        margin: 20px 0;
        font-size: 18px;
        font-family: 'poppins';
    }
}