.nav-list {
     display: flex;
     gap: 30px;
     list-style: none;
     font-family: 'mada';
     font-weight: 700;

    .nav-list__item {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 18px;
        color: #2e2e2e;
        padding: 10px;
        cursor: pointer;
        border-radius: 10px;

        &:hover {
            transform: translateY(-4px);
            border-radius: 25px;
            background-color: #fff;
            transition: .4s ease;
        }
      }
}