.container {
    padding-top: 70px;

    .cl-air-all-benefits {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cl-air-grid {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        gap: 40px;
    }
}